:root {
    --navCol: #333;
    --fontCol: #ededed;
    --contentBoxCol: #87878780;
    --accentCol: #fc0303;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

a:hover{
    color: var(--accentCol);
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("res/e8u3zvnatbm51.jpg");
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}

#navBar {
    padding: 10px;
    background-color: var(--navCol);
    overflow: hidden;
    
    position:sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    filter: drop-shadow(0 0 5px black);
}

#navBar ul{
    display: flex;
    justify-content: space-evenly;
}

#title {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-weight: bold;
    color: var(--fontCol);
}

#main-area{
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
}

#sidebar{
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    background-color: var(--contentBoxCol);
    backdrop-filter: blur(5px);
}

#sidebar ul li {
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--navCol);
    border-radius: 10px;
    width: max-content;
}

#sidebar ul {
    list-style-type: disc;
    color: var(--fontCol);
    list-style-position: inside;
}

#sidebar li :hover {
    color: var(--accentCol);
}

#sidebar :first-child{
    margin-top: 20px;
}

#content-area {
    margin: auto;
    padding: auto;
    width: 100%;
    margin-left: auto;
}

#content {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.content-box {
    margin: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: min-content;
    width: clamp(400px, 50vw, 1000px);
    background-color: var(--contentBoxCol);
    border-radius: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: bold;

    backdrop-filter: blur(5px);
    color: var(--fontCol);
    filter: drop-shadow(0 0 5px black);

}

.content-box h2 {
    margin-bottom: 10px;
}

.content-box p {
    text-align: justify;
    text-align-last: center;
    z-index: 1;
}

#meet-team ul{
    padding-top: 20px;
    padding-bottom: 20px;
}

#meet-team li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#meet-team ul :last-child{
    padding-bottom: 0px;
}

#meet-team img{
    margin-top: 10px;
    height: 500px;
    width: 500px;
    margin-bottom: 10px;
    object-fit:cover;
    border-radius: 25%;
    filter: drop-shadow(0 0 8px black);
}

#footer {
    box-sizing: border-box;
    background-color: var(--navCol);
    position:sticky;
    z-index: 1;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0 0 5px black);

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#footer p{

    color: var(--fontCol);
    font-size: 0.75em;
}